body {
	margin: 1pt;
}

.chat-box {
    display: inline-flex;
    flex-direction: column;
    background: rgb(181,189,200);
    background: radial-gradient(ellipse at center, rgba(208,223,237,1) 0%,rgba(135,161,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#87a1b7',GradientType=1 );
    border: 3pt solid black;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(30,30,30,1);
    -moz-box-shadow: 1px 1px 1px 1px rgba(30,30,30,1);
    box-shadow: 1px 1px 1px 1px rgba(30,30,30,1), inset 0 0 1px 1px rgba(65,91,113,1);
    height: 100%;
    width: 100%;
    resize: both;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.chat-msg {
	margin-bottom: 4pt;
}

.msg-mine {
	text-align: left;
}

.msg-mine .chat-author {
    color: rgba(0,120,170,1);
}

.msg-yours {
    text-align: right;
}

.msg-yours .chat-author {
    color: rgba(170,20,40,1);
}

.chat-msg-header {
	padding: 2pt;
}

.chat-msg-body {
	padding: 2pt 4pt 0 4pt;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
}

.chat-msg-text {
	font-weight: 400;
}

.chat-time {
    color: rgba(100,120,130,1);
    font-weight: bold;
    margin-right: 3pt;
    padding: 2pt;
}

.chat-author {
    font-weight: bold;
    margin-right: 3pt;
    padding: 2pt;
}

.authentication-box {
    /*position: absolute;*/
    background: radial-gradient(ellipse at center, rgba(208,223,237,1) 0%,rgba(135,161,183,1) 100%);
    border: 2px solid black;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    padding: 10pt;
    border-radius: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5pt;
    padding: 3pt 0;
    align-items: center;
}

.row > label {
    flex: 1;
}

.middle {
    align-items: center;
    justify-content: center;
}

.form-submit-btn {
    padding: 3pt 20pt;
    border-radius: 10pt;
    background: radial-gradient(ellipse at center, rgba(208,223,237,1) 0%,rgba(158,173,187,1) 100%);
    border-color: rgb(158,173,187);
    outline: none;
}

.form-submit-text {
    width: 70%;
    border-radius: 5pt;
    box-shadow: none;
    border: none;
    outline: none;
    flex: 2;
}

.text-error {
    color: red;
    font-weight: bold;
}

.chat-messages-box {
    flex: auto;
    overflow: auto;
}

.chat-input {
    /*border-top: 1pt solid darkslategrey;*/
    -webkit-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only;
    overflow: auto;
    padding: 3pt;
    height: 10%;
    min-height: 10%;
    outline: none;
    margin: 0 7pt;
    background: none;
    border: none;
    resize: none;
    white-space: pre-line;
    font: inherit;
}

.chat-input::-webkit-scrollbar {
    width: 5pt;
}

.chat-input::-webkit-scrollbar-track {
}

.chat-input::-webkit-scrollbar-thumb {
    background-color: steelblue;
    border-radius: 7pt;
    border: 1pt solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.chat-messages-box::-webkit-scrollbar {
    width: 5pt;
}

.chat-messages-box::-webkit-scrollbar-thumb {
    background-color: steelblue;
    border-radius: 7pt;
    border: 1pt solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

/*.chat-input:before {*/
    /*position: absolute;*/
    /*content: '';*/
    /*border-top: 1px solid darkslategrey;*/
    /*bottom: 50pt;*/
    /*left: 0;*/
    /*overflow: hidden;*/
    /*right: 0;*/
/*}*/

.chat-line {
    height: 1pt;
    border-top: 1pt solid black;
    margin: 0.1em 0;
}

.authentication-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chat-typing-area {
    margin: 0 0.5em;
    overflow: hidden;
    min-height: 1em;
}

.chat-typing-text {
    color: rgb(240,240,240);
    font-style: italic;
    font-size: small;
}

.hidden {
    display: none;
}

.chat-msg-client {
    color: gray;
}

.form-submit-checkbox {
    margin-right: 1em;
}

.chat-menu {
    padding-right: 0.3em;
    margin-left: auto;
}

.chat-header {
    min-height: 2em;
    border-bottom: 0.05em solid black;
    display: flex;
    margin-bottom: 0.2em;
}

.awesome-default {
    font-size: 1.6em;
    color: black;
    vertical-align: middle;
    line-height: 1.3em;
}

.awesome-default:hover {
    color: #333333;
}

@keyframes new-message {
    0%   {color: red;}
    100% {color: black;}
}

.chat-msg-new {
    color: red;
}

.chat-msg-new-animation {
    animation-name: new-message;
    animation-duration: 20s;
}

.chat-box-error {
    background: rgb(150, 90, 90);
    background: radial-gradient(ellipse at center, rgba(208,123,136,1) 0%,rgba(150,90,90,1) 100%)
}

.chat-header-text {
    line-height: 2em;
    padding-left: 1em;
}