body {
	margin: 1pt;
}

.chat-box {
    display: inline-flex;
    flex-direction: column;
    background: rgb(181,189,200);
    background: radial-gradient(ellipse at center, rgba(208,223,237,1) 0%,rgba(135,161,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#87a1b7',GradientType=1 );
    border: 3pt solid black;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(30,30,30,1);
    -moz-box-shadow: 1px 1px 1px 1px rgba(30,30,30,1);
    box-shadow: 1px 1px 1px 1px rgba(30,30,30,1), inset 0 0 1px 1px rgba(65,91,113,1);
    height: 100%;
    width: 100%;
    resize: both;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.chat-box.celebrate-style {
    background: radial-gradient(ellipse at center, rgb(247, 208, 245) 0%, rgb(237, 188, 235) 100%);
}

.chat-box.bad-mode-style {
    background: radial-gradient(ellipse at center, rgb(77, 77, 77) 0%, rgb(22, 22, 22) 100%);
}

.chat-msg {
	margin-bottom: 4pt;
}

.msg-mine {
	text-align: left;
}

.msg-mine .chat-author {
    color: rgba(0,120,170,1);
}

.msg-yours {
    text-align: right;
}

.msg-yours .chat-author {
    color: rgba(170,20,40,1);
}

.chat-msg-header {
	padding: 2pt;
}

.chat-msg-body {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 0 0.5em;
    display: inline-block;
    text-align: left;
}

.msg-yours > .chat-msg-body.chat-msg-multiline {
    border-left: 1px dotted black;
}

.chat-msg-text {
}

.chat-time {
    color: rgba(100,120,130,1);
    font-weight: bold;
    margin-right: 3pt;
    padding: 2pt;
}

.chat-author {
    font-weight: bold;
    margin-right: 3pt;
    padding: 2pt;
}

.authentication-box {
    /*position: absolute;*/
    background: radial-gradient(ellipse at center, rgba(208,223,237,1) 0%,rgba(135,161,183,1) 100%);
    border: 2px solid black;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    padding: 10pt;
    border-radius: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5pt;
    padding: 3pt 0;
    align-items: center;
}

.row > label {
    flex: 1;
}

.middle {
    align-items: center;
    justify-content: center;
}

.form-submit-btn {
    padding: 3pt 20pt;
    border-radius: 10pt;
    background: radial-gradient(ellipse at center, rgba(208,223,237,1) 0%,rgba(158,173,187,1) 100%);
    border-color: rgb(158,173,187);
    outline: none;
}

.form-submit-btn:not([disabled]):hover {
    filter: brightness(110%);
}

.form-submit-text {
    width: 70%;
    border-radius: 5pt;
    box-shadow: none;
    border: none;
    outline: none;
    flex: 2;
}

.text-error {
    color: red;
    font-weight: bold;
}

.chat-messages-box {
    flex: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.chat-messages-box.bad-mode-style {
    color: rgb(122, 122, 122);
}

.chat-input {
    /*border-top: 1pt solid darkslategrey;*/
    -webkit-user-modify: read-write;
    user-modify: read-write;
    -moz-user-modify: read-write;
    overflow: auto;
    padding: 3pt;
    height: 10%;
    min-height: 4em;
    outline: none;
    margin: 0 7pt;
    background: none;
    border: none;
    resize: none;
    white-space: pre-line;
    font: inherit;
}

.chat-input.bad-mode-style {
    color: rgb(122, 122, 122);
}

@supports not (-webkit-overflow-scrolling: touch) {
    .chat-input::-webkit-scrollbar {
        width: 5pt;
    }

    .chat-input::-webkit-scrollbar-track {
    }

    .chat-input::-webkit-scrollbar-thumb {
        background-color: steelblue;
        border-radius: 7pt;
        border: 1pt solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }

    .celebrate-style.chat-input::-webkit-scrollbar-thumb {
        background-color: rgb(187, 138, 185);
    }

    .bad-mode-style.chat-input::-webkit-scrollbar-thumb {
        background-color: rgb(122, 122, 122);
    }

    .chat-messages-box::-webkit-scrollbar {
        width: 5pt;
    }

    .chat-messages-box::-webkit-scrollbar-thumb {
        background-color: steelblue;
        border-radius: 7pt;
        border: 1pt solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }

    .celebrate-style.chat-messages-box::-webkit-scrollbar-thumb {
        background-color: rgb(187, 138, 185);
    }

    .bad-mode-style.chat-messages-box::-webkit-scrollbar-thumb {
        background-color: rgb(122, 122, 122);
    }
}


/*.chat-input:before {*/
    /*position: absolute;*/
    /*content: '';*/
    /*border-top: 1px solid darkslategrey;*/
    /*bottom: 50pt;*/
    /*left: 0;*/
    /*overflow: hidden;*/
    /*right: 0;*/
/*}*/

.chat-line {
    height: 1pt;
    border-top: 1pt solid black;
    margin: 0.1em 0;
}

.authentication-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chat-typing-area {
    margin: 0 0.5em;
    overflow: hidden;
    min-height: 1.5em;
    display: inline-block;
}

.chat-typing-text {
    color: rgb(240,240,240);
    font-style: italic;
    font-size: small;
    line-height: 1.85em;
}

.hidden {
    display: none;
}

.chat-msg-client {
    color: gray;
    overflow: hidden;
}

.form-submit-checkbox {
    margin-right: 1em;
}

.chat-menu {
    padding-right: 0.3em;
    margin-left: auto;
}

.chat-header {
    min-height: 2em;
    border-bottom: 0.05em solid black;
    display: flex;
    margin-bottom: 0.2em;
}

.chat-header.bad-mode-style {
    border-color: rgb(122, 122, 122);
    color: rgb(122, 122, 122);
}

.awesome-default {
    font-size: 1.6em;
    color: black;
    vertical-align: middle;
    line-height: 1.3em;
    padding: 0 0.2em;
    border-left: 1px solid black;
}

.awesome-default.bad-mode-style {
    border-color: rgb(122, 122, 122);
    color: rgb(122, 122, 122);
}

.awesome-default:hover {
    color: silver;
}

.awesome-default:active {
    color: white;
}


.awesome-default.awesome-selected:hover {
    color: silver;
}

@keyframes new-message {
    0%   {color: red;}
    100% {color: black;}
}

@keyframes new-message-bad-mode-style {
    0%   {color: red;}
    100% {color: rgb(122, 122, 122);}
}

.chat-msg-new {
    color: red;
}

.chat-msg-new-animation {
    animation-name: new-message;
    animation-duration: 20s;
}

.bad-mode-style .chat-msg-new-animation {
    animation-name: new-message-bad-mode-style;
    animation-duration: 20s;
}

.chat-box-error {
    background: rgb(150, 90, 90);
    background: radial-gradient(ellipse at center, rgba(208,123,136,1) 0%,rgba(150,90,90,1) 100%)
}

.chat-header-text {
    line-height: 2em;
    padding-left: 1em;
}

.awesome-selected {
    color: cornsilk;
}

.chat-menu-data {
    margin-bottom: 0.2em;
    transition: max-height 0.5s ease-out;
    max-height: 0;
    overflow: hidden;
}

.chat-menu-data-animate {
    max-height: 20em;
    transition: max-height 0.5s ease-in;
}

.presence-items-block {
    border-bottom: 1px solid black;
    padding: 0.1em 0.3em;
}

.presence-items-block.bad-mode-style {
    border-color: rgb(122, 122, 122);
}

.presence-item {
    margin: 0.1em 0;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.presence-name {
    display: inline-block;
    font-weight: bold;
    width: 7em;
    vertical-align: middle;
}

.presence-status {
    height: 0.8em;
    display: inline-block;
    width: 0.8em;
    border: 1px solid black;
    margin: 0 0.3em;
    border-radius: 0.8em;
}

.presence-status-online {
    background: lawngreen;
}

.bad-mode-style .presence-status-online {
    background: rgb(0, 150, 0);
}

.presence-status-offline {
    background: indianred;
}

.bad-mode-style .presence-status-away {
    background: rgb(200, 200, 0);
}

.presence-status-away {
    background: yellow;
}

.presence-text-online {
    color: lawngreen;
}

.bad-mode-style .presence-text-online {
    color: rgb(0, 150, 0);
}

.bad-mode-style .presence-text-away {
    color: rgb(200, 200, 0);
}

.presence-text-offline {
    color: indianred;
}

.presence-text-away {
    color: yellow;
}

.presence-date {
    margin-left: 0.3em;
    font-weight: bold;
}

.smile {
    vertical-align: middle;
    height: 2em;
}

.thumbnail {
    vertical-align: middle;
    /*border: solid 1px black;*/
}

.chat-panel {
    min-height: 1.5em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0.1em 0;
    display: flex;
}

.chat-panel.bad-mode-style {
    border-color: rgb(122, 122, 122)
}

.chat-panel-menu {
    margin-left: auto;
    padding-right: 0.3em;
}

.panel-awesome-default {
    font-size: 1.5em;
    color: black;
    vertical-align: middle;
    padding: 0 0.2em;
    border-left: 1px solid black;
    width: 1em;
    text-align: center;
}

.panel-awesome-default.bad-mode-style {
    border-color: rgb(122, 122, 122);
    color: rgb(122, 122, 122);
}

.panel-awesome-selected {
    color: silver;
}

.panel-awesome-default:active {
    color: white;
}

@media (hover: hover) {
    .panel-awesome-default:hover {
        color: silver;
    }

    .panel-awesome-default:active {
        color: white;
    }
}

.presence-device {
    margin-left: 0.3em;
    width: 1.4em;
    overflow-x: hidden;
    text-align: center;
}

.bad-mode-style .chat-msg-text a {
    color: rgb(172, 172, 172);
}

.chat-msg-text a, .chat-msg-text a:visited {
    color: mediumblue;
    text-decoration: none;
    text-shadow: 0 0 0.1em rgba(255,0,0,0.2);
}

.chat-msg-text a:hover {
    text-decoration: underline;
}

.bad-mode-style .chat-msg-text a:visited {
    color: rgb(122, 122, 122);
}

.chat-msg-text a:active {
    color: darkmagenta;
}

.bad-mode-style.chat-msg-text a:active {
    color: rgb(255, 255, 255);
}

.message-device {
    display: inline;
    color: rgba(100,120,130,1);
    font-size: 0.9em;
}

.chat-msg-unread {
    font-weight: bold;
}

.smiles-box-wrapper {
    position: relative;
    display: inline-block;
}

.smiles-box {
    position: absolute;
    left: -7.3em;
    bottom: 1em;
    border: solid black 0.05em;
    background: rgb(155,181,203);
}

.smiles-box.celebrate-style {
    background: rgb(237, 188, 235);
}

.smiles-box.bad-mode-style {
    background: rgb(55, 55, 55);
    border-color: rgb(122, 122, 122);
}

.smiles-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.smiles-box ul li {
    width: 2em;
    height: 2em;
    padding: 0.2em;
    border: 0.01em solid black;
}

.smiles-box.bad-mode-style ul li {
    border-color: rgb(122, 122, 122);
}

.smiles-box ul li:hover {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

@keyframes blinking_incoming_call {
    from { color: rgba(0, 255, 0, 1); }
    50% { color: rgba(0, 255, 0, 0); }
    to { color: rgba(0, 255, 0, 1); }
}

@keyframes blinking_calling {
    from { color: rgba(255, 0, 0, 1); }
    50% { color: rgba(255, 0, 0, 0); }
    to { color: rgba(255, 0, 0, 1); }
}

.rtc_phone_incoming {
    animation: blinking_incoming_call 1s linear infinite;
}

.rtc_phone_calling {
    animation: blinking_calling 1s linear infinite;
}

.rtc_phone_cancel {
    color: red;
}

.screen-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}

.call-box-wrapper {
    position: relative;
    display: inline-block;
}

.call-box {
    position: absolute;
    left: -7.2em;
    bottom: 1em;
    border: solid black 0.05em;
    background: rgb(155,181,203);
    width: 10em;
    padding: 0.2em 1em;
}

.call-box.celebrate-style {
    background: rgb(237, 188, 235);
}

.call-box.bad-mode-style {
    background: rgb(55, 55, 55);
    border-color: rgb(122, 122, 122);
    color: rgb(122, 122, 122);
}

.call-box .row {
    justify-content: center;
}

.rtcVideoChatDiv {
    display: flex;
    justify-content: center;
}

.rtcVideoChatDiv video {
    min-height: 50vw;
    max-height: 50vw;
    max-width: 90%;
    border: 1px solid black;
}

.chat-map {
    height: 20vw;
    width: 40vw;
    margin: 1em;
}

@media only screen and (max-width: 600px) {
    .chat-map {
        height: 50vw;
        width: 80vw;
        margin: 1em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .chat-map {
        height: 35vw;
        width: 60vw;
        margin: 1em;
    }
}

.center-text {
    text-align: center;
}

.celebrate-frame {
    border: 50px solid transparent;
    border-image: url("../images/celebrate_border.png") 68 fill;
}

.msg-system {
    text-align: center;
}

.notifications-box {
    position: absolute;
    left: -7.2em;
    top: 0.8em;
    border: solid black 0.05em;
    background: rgb(155,181,203);
    width: 10em;
    padding: 0.2em 1em;
}

.notifications-box.bad-mode-style {
    background: rgb(55, 55, 55);
    color: rgb(122, 122, 122);
    border-color: rgb(122, 122, 122);;
}

.notifications-box-wrapper {
    position: relative;
    display: inline-block;
}

.notifications-box.celebrate-style {
    background: rgb(237, 188, 235);
}